<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home page</title>
    <link rel="stylesheet" href="static/home.css">
</head>
<body>
<h1>Clories Calculator App</h1>

<p> The Calorie Calculator App gathers the user's weight, height, age, city, and country, and then retrieves the temperature of the user's location to calculate how many calories the user needs."</p>

<p>Click the link below to calculate the calories:</p>
<a href="{{url_for('user_form_page')}}" class="calorie-link">got to clorie page</a>

</body>

</html>